<h1> I am in the index action </h1>


<% @boats.each do |boat| %>
<p>Name: <a href="/boats/<%= boat.id %>"><%= boat.name%></a></p>
<p>Capacity: <%= boat.capacity%></p>
<p>Year: <%= boat.year%></p>
<p>Color: <%= boat.color%></p>
<p>Price: <%= boat.price%></p>
<hr>
<% end %>